services:
  maternal-client:
    build:
      context: .   # <-- use current folder
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
    restart: unless-stopped
    